{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="display-1 d-block">Hello</h1>
    <div class="mb-4 lead">Enter a URL below and submit to get your shortened URL.</div>

    {{ form(form) }}
{% endblock %}